*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

main {
  background-color: #fff;
}

header{
  background-color: rgb(255, 255, 255);
  position: sticky;
  z-index: 1;
  top: 0;
}


.nav {
  display: flex;
  align-items: center;
  padding: 32px 0 42px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.nav_logo {
  margin-left: -65px;
}

.header_nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header_nav_item {
  margin-right: 32px;
}

.header_nav_item:last-child {
  margin-right: 0;
}

.header_nav_item:first-child {
  margin-left: 66px;
}

.header_nav_link {
  font-size: 16px;
  color: #292929;
  text-decoration: none;
}

.vertical_line {
  width: 1px;
  height: 20px;
  background-color: #000;
  display: block;
}

.nav_right {
  display: flex;
  margin-right: 12px;
}

.left {
  margin-left: auto;
  display: flex;
  margin-right: 30px;
}

.nav_list {
  text-decoration: none;
  color: #292929;
}

.vertical_line {
  margin: 0 13px;
}

.nav {
  position: relative;
}

.backet::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #000;
  display: block;
  top: 0;
  right: -18px;
}

.analog {
  background-image: url(../img/analog_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.analog_text {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  margin-bottom: 1px;
  padding-top: 517px;
}

.analog_link {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.buy_nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buy_nav_item {
  margin-right: 48px;
}


.buy_nav_item:last-child {
  margin-right: 0;
}

.buy_nav_item {
  color: #B3B3B3;
  padding-bottom: 5px;
  text-decoration: none;
}

.buy_nav_item :hover {
  color: #1A1A1A;
}

.buy_nav:checked + span{
  color: #1A1A1A;
  border-bottom: 1px solid #1A1A1A;
}



.buy_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 55px;
}

.buy_item a {
  text-decoration: none;
}

.buy_item {
  height: 420px;
  width: 275px;
  margin-right: 20px;
}

.buy_item div {
  overflow: hidden;
  width: 275px;
  height: 341px;
}

.buy_item:hover img {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.buy_item:nth-child(4n) {
  margin-right: 0;
}

.buy_item:last-child {
  margin-right: 0;
}

.item_name {
  font-size: 15px;
  color: #1A1A1A;
  margin: 11px 0 6px;
}

.price {
  color: #808080;
  font-size: 13px;
}

.span_price {
  margin-left: 5px;
  color: #FF3451;
  font-size: 13px;
}

.span_name {
  color: #A8A8A8;
}

.shop_new_arrivals {
  display: inline-block;
  padding: 1px 61px;
  font-size: 20px;
  line-height: 56px;
  background-color: #1A1A1A;
  text-decoration: none;
  color: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
}

.shop {
  padding-top: 66px;
  padding-bottom: 171px;
}

.buy_container {
  background-color: #fff;
}

.final_stock {
  background-color: #CED3CA;
  ;
  padding: 127px 0;
}

.final_stock_container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  padding-left: 93px;
}

.stock_up {
  margin-left: auto;
}

.final_stock_text {
  font-size: 38px;
  width: 208px;
  margin-bottom: 33px;
}

.shop_sale {
  font-size: 14px;
  color: #1A1A1A;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

/* .final_stock_container::before{
  position: absolute;
  content: "";
  width: 40px;
  height: 733px;
  background-image: url(../img/element.jpg);
  background-repeat: no-repeat;
  background-position: center;
  left: -50px;
  top: -790px;
  z-index: ;
} */


.our_mission {
  background-color: #F8F6F2;
  padding-bottom: 114px;
}

.conbine_form {
  padding-top: 113px;
}

.conbine_form_title {
  padding-bottom: 92px;
  text-align: center;
  width: 630px;
  font-size: 30px;
  font-weight: normal;
  margin: 0 auto;
}

.shops {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.shop_men {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin: 7px 0 0 0;
  text-decoration: none;
  color: #000;
}

.shop_item {
  width: 522px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.gather_text {
  margin: 21px 0 32px;
  width: 209px;
}

.gather_stock_text {
  font-size: 37px;
  font-weight: normal;
}

.downingtown{
  background-image: url(../img/downingtown.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.downingtown_text{
  color: white;
  font-size: 35px;
  width: 782px;
  margin: 0 auto;
  font-weight: normal;
  padding-top: 237px;
  line-height: 54px;
}

.downingtown a{
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2px;
  border-bottom: 1px solid #fff;
  
}
.container_text{
  text-align: center;
}

.stay_in_the_loop{
  background-color: #CED3CA;
  padding: 82px 0 129px;
}

.stay{
  text-align: center;
}

.stay_title{
  font-size: 34px;
  font-weight: normal;
  margin: 0 0 19px;
}

.stay_text{
  display: inline-block;
  width: 370px;
  font-size: 16px;
  margin-bottom: 56px;
}

.input_email{
  width: 338px;
  padding: 14px 18px;
  font-size: 16px;
}

.button_submit{
  padding: 16px;
  margin-left: -4px;
}

footer{
  background-color: #F7F7F7;
  padding: 84px 0 104px;
}

.footer_container{
  display: flex;
}

.footer_nav{
  color: #000;
  text-decoration: none;
}

.footer_container li{
  margin-bottom: 14px;
}

.footer_container li:last-child{
  margin-bottom: 0;
}

.footer_list_left{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 157px;
}

.footer_list_right{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_right{
  text-align: right;
  margin-left: auto;
  height: 90px;
}

.footer_box{
  display: flex;
  margin-bottom: 37px;
}

.footer_text{
  width: 233px;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  margin-right: 24px;
}

.citec_name{
  margin-bottom: 9px;
}

.social_icon{
  margin-right: 16px;
}

.social_icon:last-child{
  margin-right: 0;
}

